.rowEnabled    {    background-color:#0ff;     }
.rowHover   { background-color:#97F9BF;    }
.tHeader  {   background-color:#02454B; color:#FFFFFF;    }
.ktable-filter {  float: right;   margin: -0.5em -0.6em -0.4em;  padding: 0.5em 0.2em 0.4em;   position: relative;    z-index: 1;}
.popupContainer
{
    font-size:12px;font-family:inherit;
    border:1px solid #DBDBDE; overflow:auto; padding:10px; border-radius: 0 0 4px 4px; background-color:#FFFFFF;box-shadow: 0 2px 2px 0 rgba(82, 90, 104, 0.2);    
}
button.filter-button { background-color: #F3F3F4; border-color: #DBDBDE; color: #515967; margin: 0.5em 4% 0 0;  width: 46%; border-radius: 4px 4px 4px 4px;box-shadow: none;border-style: solid;  border-width: 1px; cursor:pointer;}
.filter-button:hover {  background-color:#A6AFBE;border-color:#A6AFBE;   color:#263248;}
SELECT.ddlSearchType {  width:99%; margin-bottom:6px; margin-top:5px; }
.k-filter {  background-image: url('Images/filter.png');   background-position:3px; background-repeat: no-repeat;   width:20px; height:20px;float:left;  border:none;}
.filter-selected
{    background-image: url('Images/filter-selected.png');   background-position:3px; background-repeat: no-repeat;   width:20px; height:20px;float:left;
   border:none;
}
